:root{
  --main-color: blue;
}
section{
  background-image: url('/media/sky.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
 
}
.mailbody{
  background-image: url('/media/mailbody.jpg');
  background-repeat: no-repeat;
  width: max-content;
  height: max-content;
}
.backgroundform{
  background-image: url('/media/mailbody.jpg');
}
.card-img-bottom{
  background: linear-gradient(white);
}
.btn{
  background-color: var(--main-color);
}
.hr{
    background-color: var(--main-color);
    height: 4px;
    width: 150px;
    margin-top: 0px;
    margin-left: 0px;
  }
.border-bottom-main{
  border-bottom: 4px solid var(--main-color);
  border-radius: 0px;
}

.navbar-light.navbar-toggler {
  color:black;
}
a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
.navbar-nav {
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.mr-3, .mx-3 {
  margin-right: 1rem !important;
}
a:hover {
  color: var(--main-color);
  text-decoration: none;
}
.hover{
  border-bottom: 4px solid;
  border-radius: 0px;
  text-emphasis-color: black;
  
}
.hover:hover{
  border-bottom: 2px solid var(--main-color);
  transition: 0.4s; 
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header.container {
    position: relative;
    z-index: 2;
  }
  
  header.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }